<div class="container">
  {{#if articles}} {{#each articles}}
  <div class="row">
    <div class="col s12">
      <ul class="collapsible white">
        <li>
          <div class="row">
            <div class="col xl3 push-xl9 l4 push-l8 m5 push-m7 s12">
              <p class="center">
                {{#if bookmarked}}
                <a class="bookmark waves-effect waves-light red btn-large hoverable" data-id={{_id}} data-boolean="false">UNBOOKMARK</a>
                {{else}}
                <a class="bookmark waves-effect waves-light green btn-large hoverable" data-id={{_id}} data-boolean="true">BOOKMARK</a>
                {{/if}}
              </p>
            </div>
            <div class="col xl9 pull-xl3 l8 pull-l4 m7 pull-m5 s12">
              <h4 class="addMargin">{{title}}</h4>
              <p class="addMargin"><a href="{{link}}" target="_blank">Read full article at Kotaku!</a></p>
            </div>        
          </div>
        </li>
        <li>
          <div class="collapsible-header grey lighten-3 hoverable">Summary</div>
          <div class="collapsible-body">{{summary}}</div>
        </li>
        {{#if ../comments}} {{> articles/comment-block }} {{/if}}
      </ul>
    </div>
  </div>
  {{/each}} 
  {{else}}
    {{#if comments}}
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">No bookmarks!</span>
              <p>In order to use this section, you must have at least one article bookmarked! Go home and bookmark something!</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light green btn-large hoverable" href="/">GO HOME</a>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">No articles yet!</span>
              <p>In order to see some articles, first you must scrape them! So scrape something, have a good time...</p>
            </div>
            <div class="card-action">
              <a class="scrape waves-effect waves-light green btn-large hoverable">SCRAPE SOMETHING</a>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>